<ul>
{{ range (sort (where .Site.RegularPages "Section" "lecture") "Date" "desc") }}
  {{ $page := . }}
  {{ range $page.Params.leftoff }}
    {{ $leftoff := split . " " }}
    {{ $date := index $leftoff 0 }}
    {{ if in $leftoff "end" }}
      <li>{{ dateFormat "January 2" $date }}: Completed <a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
    {{ else }}
      <li>{{ dateFormat "January 2" $date }}: Partway through <a href="{{ $page.Permalink }}#where-we-left-off-on-{{ dateFormat "january-2" . | urlize }}">{{ $page.Title }}</a></li>
    {{ end }}
  {{ end }}
{{ end }}
</ul>