<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Lecture</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
{{ range (sort (where .Site.RegularPages "Section" "lecture") "Date" "desc") }}
  {{ $page := . }}
  {{ range $page.Params.leftoff }}
    {{ $leftoff := split . " " }}
    {{ $date := index $leftoff 0 }}
    {{ if in $leftoff "end" }}
    <tr>
      <td>{{ dateFormat "January 2" $date }}</td>
      <td><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></td>
      <td>Completed</td>
    </tr>
    {{ else }}
    <tr>
      <td>{{ dateFormat "January 2" $date }}</td>
      <td><a href="{{ $page.Permalink }}#where-we-left-off-on-{{ dateFormat "january-2" . | urlize }}">{{ $page.Title }}</a></td>
      <td>Partway through</td>
    </tr>
    {{ end }}
  {{ end }}
{{ end }}
  </tbody>
</table>